@inherits LayoutComponentBase
@inject IJSRuntime JsRuntime

<header id="heady">
    <img class='logo' id="load" src='assets/core/logo.svg'>
    <img class='logo_full' id="full" src='assets/core/maske.svg'>
    <input type='checkbox' id='nav-toggle' class='nav-toggle'>
    <nav id="navy">
        <ul>
        <li><a href='/' @onclick="unchecknav">Home</a></li>
        <li><a href='/meteo' @onclick="unchecknav">Meteo</a></li>
        <li><a href='/promille' @onclick="unchecknav">Promille</a></li>
        <li><a href='/wellen' @onclick="unchecknav">Wellen</a></li>
    </ul>
</nav>
<label for='nav-toggle' class='nav-toggle-label'>
    <span></span>
</label>
</header>

<div class='content'>
    @Body
</div>

@code {

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            JsRuntime.InvokeAsync<object>("changeStyle");
        }
    }

    void unchecknav()
    {
        JsRuntime.InvokeAsync<object>("unchecknav");
    }

}