@page "/deckel"
@using System.Runtime.CompilerServices
@using System.Security.Cryptography
@inject IJSRuntime JsRuntime

<h1>@warning</h1>
<p>Flughoehe: @Fh m</p>
<p>Flugzeit: @Fz s</p>
<p>Geschwindigkeit: @v0 m/s</p>
<p>Wassertemperatur: <input @bind="Tw" /></p>
<p>Liter Wasser: <input @bind="L" /></p>
<p>Liter Flasche: <input @bind="V" /></p>
<p>Deckelradius: <input @bind="r" /></p>
<p>Deckelgewicht: <input @bind="m" /></p>
<p>Sprungdistanz: <input @bind="D" /></p>
<button @onclick="@Calc">Berechnen</button>
@code
{
    string warning = "";
    double Fh = 0;
    double Fz = 0;
    double v1 = 0;
    double s1 = 0;
    double t1 = 0;
    double v0 { get; set; } = 0;
    double Tw { get; set; }
    double L { get; set; }
    double V { get; set; }
    double r { get; set; }
    double m { get; set; }
    double D { get; set; }
    const double g = 9.80665;
    const double Dt = 0.0001;

    void Calc()
    {
        if (V == L) { warning = "Flasche darf nicht voll gefuellt sein!"; return; }
        var Scm3kg = 1800*Math.Pow(Math.E,(-Tw/31));
        var dwkgm3 = 1000 - Math.Pow((Tw - 4), 2) / 161;
        var Scm3l = Scm3kg * dwkgm3 / 1000;
        var Smoll = Scm3l / 44.001;
        var P = Smoll * L * 8.314 * (273.15 + Tw) / (V - L);
        if (P/100000 > 12) { warning = "Druck zerstoert die Flasche!"; return; }
        var a0 = Math.PI * P * r * r / m;
        var v = 0.0001;
        var k = 1.2 * Math.PI * r * r / 4;
        double s = 0;
        var ncount = 0;

        while (s < D)
        {
            v += (a0 - g - k * v * v) * Dt;
            s += v * Dt;
            ncount++;
        }
        v0 = v;
        while (v > 0)
        {
            v += (- g - k * v * v) * Dt;
            s += v * Dt;
            ncount++;

        }
        Fh = s;
        while (s > 0)
        {
            v += (- g + k * v * v) * Dt;
            s += v * Dt;
            ncount++;
        }
        Fz = ncount * Dt;
        v0 = Math.Round(v0, 2);
        Fh = Math.Round(Fh, 2);
        Fz = Math.Round(Fz, 2);
        warning = "";
    }

}