@page "/"

<body>
  <div class='lower'>
    <div class='content'>
      <img class='plan' src='assets/Plan_2A.svg'>
      <form method="get" action="Bot.exe">
        <button class='nrj' type="submit">NRJ Air Bot Download</button>
      </form>
    </div>
  </div>
</body>
